imgCenter{
text-align: center;
}
k{
    font-style: italic;
}
leftimg{
    float: left;
   
}
rightimg{
    float: right;
    margin: 7px 7px 7px 0;
}
u{
    font-size: 17;
}
body {
    background-color: lightblue;
}